# Visual Studio / VS Code / Rider vb. IDE ayarları
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ide

# Build çıktıları
bin/
obj/
build/
[Bb]uild/
[Bb]ld/
out/

# Paketler (NuGet / npm)
packages/
node_modules/

# Mac OS / Windows / Linux sistem dosyaları
.DS_Store
Thumbs.db
*.swp

# DotNet User Secrets (opsiyonel, gizli tutmak istediğinizde)
**/appsettings.Development.json
**/secrets.json
